<section class="carousel">
    <div class="carousel__container">
        <article class="carousel__slider carousel__slider--1"></article>
        <article class="carousel__slider carousel__slider--2"></article>
        <article class="carousel__slider carousel__slider--3"></article>
        <article class="carousel__slider carousel__slider--4"></article>
        <article class="carousel__slider carousel__slider--5"></article>
        <article class="carousel__slider carousel__slider--6"></article>
        <article class="carousel__slider carousel__slider--7"></article>
      </div>
  </section>
<style>
    :root {
        --carousel-height:35rem;
        --carousel-width: 100%;
      }
      /* Hide the scroll bars */
      .carousel {
        height: var(--carousel-height);
        overflow: hidden;
        width: var(--carousel-width);
      }

      .carousel__container {
        scroll-snap-type: x mandatory;
        display: flex;
        overflow-x: auto;
      }

      .carousel__slider {
        height: var(--carousel-height);
        min-width: var(--carousel-width);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        scroll-snap-align: start;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
      }

      .carousel__slider h1,
      .carousel__slider p {
        /* Style demo */
        color: white;
        text-shadow: 1px 1px 5px black;
        /* End Style demo */
      }

      .carousel__slider--1 {
        background-image: url("./assets/img/vej.jpg");
      }

      .carousel__slider--2 {
        background-image: url("./assets/img/kirke.jpg");
      }

      .carousel__slider--3 {
        background-image: url("./assets/img/bordtennis.jpg");
      }

      .carousel__slider--4 {
        background-image: url("./assets/img/de9mænd.jpg");
      }

      .carousel__slider--5 {
        background-image: url("./assets/img/fodboldhold.jpg");
      }
      .carousel__slider--6 {
        background-image: url("./assets/img/olstedskoleborn.jpg");
      }
      .carousel__slider--7 {
        background-image: url("./assets/img/synger.jpg");
        background-position: 0px -40px;
      }

</style>
<script>
    // Variables
const SECONDS_DELAY = 17 // <---- IMPORTANT
const CAROUSEL = document.querySelector('.carousel')
const SLIDERS = CAROUSEL.querySelectorAll('.carousel__slider')


// Functions

async function autoPlay(currentPos = SLIDERS.length) {
  // Get next position
  const NEXT_POS = SLIDERS.length - 1 > currentPos ? currentPos + 1 : 0
  // Move scroll to next slider
  SLIDERS[NEXT_POS].scrollIntoView({block: "center"})
  // Delay to next
  await new Promise(res => { setTimeout(res, SECONDS_DELAY * 1000) })
  // Loop
  autoPlay(NEXT_POS)
}

// Run
autoPlay()
</script>
